.feature-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem; }
  .feature-2__name {
    font-weight: bold;
    padding-left: 1rem; }
  .feature-2__icon {
    font-size: 82px;
    float: right;
    height: 82px; }
    .feature-2__icon > svg {
      display: block;
      height: 1em !important;
      margin: auto;
      width: 1em !important; }
