.bmd-form-group {
    position: relative;
}

.bmd-form-control-del {
    top: 50% !important;
    right: 0 !important;
    left: auto !important;
    pointer-events: auto !important;
    cursor: pointer;
    color: #d00 !important;
}

.bmd-form-control-line {
    position: absolute;
    top: 70%;
    width: 0;
    height: 1px;
    background-color: rgb(170, 170, 170);
    transition: all 0.2s ease-in-out;
}

.bmd-form-control-checkdel:checked + .bmd-form-control-line {
    width: 90%;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0 !important;
}

td, th {
    padding: 20px 0;
}

th {
    border-bottom: 1px solid #eaeaea;
}

tr {
    border-bottom: 1px solid #eaeaea;
    &:last-child {
        border-bottom: 0;
    }
}